h2 {
  font-weight: 400; }

#taskbar {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: #858585;
  width: 100%; }

#inputTextBox {
  font-family: "Quicksand", sans-serif;
  width: 900px;
  height: 50px;
  text-align: center;
  border: 1px solid #d6d6d6;
  color: #858585;
  font-size: 20px; }

#inputTextBox:active {
  border: 1px solid red; }

#add-icon {
  width: 70px;
  margin-bottom: -30px; }

#add {
  font-size: 30px;
  margin-left: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #79c769; }

#add:hover {
  color: #069c62; }

::placeholder {
  color: #bdbdbd; }

h3 {
  font-weight: 300;
  font-size: 20px;
  margin-left: 50px; }

#taskListDiv {
  background-color: white;
  height: 50px;
  width: 900px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px; }

#taskContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }

#completed {
  color: #858585;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 25px;
  text-align: right;
  float: right;
  margin-top: -10px;
  cursor: pointer; }

#edit {
  float: right;
  margin-right: 40px;
  background-color: transparent;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #858585;
  cursor: pointer; }

#completed:hover {
  color: #79c769; }

#edit:hover {
  color: #79c769; }

#remainingTabActive {
  border: none;
  border-right: 1px solid #e0e0e0;
  background-color: white;
  height: 50px;
  width: 900px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  background-color: #cfcfcf;
  font-weight: 500;
  font-size: 17px;
  font-family: "Quicksand", sans-serif;
  color: #858585;
  width: 50%; }

#doneTab {
  border: none;
  background-color: white;
  height: 50px;
  width: 900px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  background-color: #e3e3e3;
  font-weight: 500;
  font-size: 17px;
  font-family: "Quicksand", sans-serif;
  color: #858585;
  width: 50%; }

#remainingTab {
  border: none;
  border-right: 1px solid #e0e0e0;
  background-color: white;
  height: 50px;
  width: 900px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  background-color: #e3e3e3;
  font-weight: 500;
  font-size: 17px;
  font-family: "Quicksand", sans-serif;
  color: #858585;
  width: 50%; }

#doneTabActive {
  border: none;
  background-color: white;
  height: 50px;
  width: 900px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  background-color: #cfcfcf;
  font-weight: 500;
  font-size: 17px;
  font-family: "Quicksand", sans-serif;
  color: #858585;
  width: 50%; }

#tabsContainer {
  display: inline;
  width: 900px; }

#doneh3 {
  text-decoration: line-through;
  text-decoration-thickness: 1px; }

#remove {
  float: right;
  margin-right: 40px;
  background-color: transparent;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #858585;
  cursor: pointer; }

#remove:hover {
  color: red; }

/*# sourceMappingURL=app.css.map */
