$quicksand: 'Quicksand', sans-serif;
$darkGrey: #858585;
$lightGreen: #79c769;
$darkGreen: #069c62;
$borderColor: #e0e0e0;

@mixin taskBoxes() {
    background-color: white;
    height: 50px;
    width: 900px;
    text-align: center;
    border-bottom: 1px solid $borderColor;
    padding-bottom: 10px;
}

@mixin textButtons() {
    float: right;
    margin-right: 40px; 
    background-color: transparent;
    border: none;   
    font-family: $quicksand;
    font-weight: 600;
    color: $darkGrey;
    cursor: pointer;
}

@mixin normalTab() {
    background-color: #e3e3e3;
    font-weight: 500;
    font-size: 17px;
    font-family: $quicksand;
    color: $darkGrey;
    width: 50%;
}

@mixin activeTab() {
    background-color: #cfcfcf;
    font-weight: 500;
    font-size: 17px;
    font-family: $quicksand;
    color: $darkGrey;
    width: 50%;
}

h2 {
	font-weight: 400;
}

#taskbar {
	text-align: center;
	font-family: $quicksand;
	color: $darkGrey;
	width: 100%;
}


#inputTextBox {
	font-family: $quicksand;
	width: 900px;
    height: 50px;
    text-align: center;
	border: 1px solid #d6d6d6;
	color: $darkGrey;
	font-size: 20px;
}

#inputTextBox:active {
	border: 1px solid red;
}

#add-icon {
	width:70px;
	margin-bottom: -30px;
}

#add {
    font-size: 30px;
    margin-left: 20px;
    font-weight: 500;
    cursor: pointer;
    color: $lightGreen; 
}

#add:hover {
	color: $darkGreen;
}

::placeholder {
	color: #bdbdbd;
}

h3 {
	font-weight: 300;
	font-size: 20px;
    margin-left: 50px;
}

#taskListDiv {
    @include taskBoxes();
}

#taskContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#completed {
	color: $darkGrey;
	background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 25px;
    text-align: right;
    float: right;
    margin-top: -10px;
    cursor: pointer;
}

#edit {
	@include textButtons();
}

#completed:hover {
	color: $lightGreen;
}


#edit:hover {
	color: $lightGreen; 
}

#remainingTabActive {
    border: none;
    border-right: 1px solid $borderColor;
    @include taskBoxes();
    @include activeTab();
}

#doneTab {
    border: none;
    @include taskBoxes();
    @include normalTab();
}

#remainingTab {
    border: none;
    border-right: 1px solid $borderColor;
    @include taskBoxes();
    @include normalTab();
}

#doneTabActive {
    border: none;
    @include taskBoxes();
    @include activeTab();
}

#tabsContainer {
    display: inline;
    width: 900px;   
}

#doneh3 {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
}

#remove {
    @include textButtons();
}

#remove:hover {
    color: red; 
}